@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="main-content">
    <h2 class="text-center mb-4">@ViewData["Title"]</h2>

    <form id="loginForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

        <div class="mb-3">
            <label asp-for="Input.Email" class="form-label">Endereço Email</label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.Password" class="form-label">Palavra-passe</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Palavra-passe" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check">
            <input asp-for="Input.RememberMe" class="form-check-input" />
            <label asp-for="Input.RememberMe" class="form-check-label">Lembra-me!</label>
        </div>

        <button id="loginSubmit" type="submit" class="w-100 btn btn-primary btn-lg mt-2">
            Login
        </button>

        <div class="text-center mt-3">
            <p><a asp-page="./ForgotPassword">Não te lembras da palavra-passe?</a></p>
            <p>Não tens conta? <a asp-page="./Register">Criar uma conta</a></p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}