@model DIEARD.Models.Diario

@{
    ViewData["Title"] = "Editar Diário";
}

<h1>Editar Diário</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <textarea asp-for="Conteudo" class="form-control"></textarea>
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VisualizarLista">Voltar à Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}